body{
    background: linear-gradient(to right, #ff7dd4, #7dd1ff);
    width: 80vw;
    padding: 10px;

}
.wrapper{
    /* width: 50vw; */
    text-align: center;
}
/* style for the button */
#getCurTab{
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-bottom:15px;
    cursor: pointer;
    border-radius: 4px;
}

/* style for the button on hover */

#getCurTab{
    background-color: #005bb7;
}

/* style for the title container */
#curTabTitle{
    font-size: 12px;
    color: #0a0101;
    font-weight: 500;
}

.header {
  height: 100px;
  color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  border-radius: 5px;
  margin-bottom: 20px;
}

.centered-btn{
  margin-left: 37%;
}

.down{
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;;
  font-size:40px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body {
    margin: 0;
    width: 400px;
    background: #216f85;
    height: 400px;
}

.logo {
    width: 150px;
    margin: 25px auto 0;
    display: block;
}

.disclaimer {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #FFF;
}

.disclaimer strong {
    display: block;
}

.hidden {
    display: none !important;
}

.import, .clear {
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    background: #c18d2b;
    border: 5px solid gray;
    border-radius:5px ;
    cursor: pointer;
    color: #222;
    box-shadow: 0px 25px 50px rgba(33, 33, 33, 0.25);
}

.clear {
    position: initial;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto 25px;
    display: block;
    font-size: 21px;
    padding: 10px 20px;
}

.recipe-name {
    color: #FFF;
    font-size: 28px;
    text-align: center;
    width: 250px;
    margin: 25px auto;
}

.ingredients {
    list-style-type: none;
    color: #FFF;
    font-size: 18px;
}

input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
}

li {
    position: relative;
}

li.checked { color: #A3E6F8; }
li.checked:before {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 20px;
}
.input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    
    /* width: 20vw;
    height:5vh; */

}
input.form-control{
    margin: 2rem 1rem;
    font-size: 1.3rem;

}
Button.btn{
   background-color: #227cd5;
   border:none;
   font-size:1rem;
   color:white;
   padding: 8px;
}